@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
span{
    display: inline-block;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
hr{
    color: #5f676f55;
}
body{
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: poppins;
}
:root{
    --shadow-1 : 0px 0px 10px rgb(0, 0, 0 , .1); 
    --shadow-2 : 0px 0px 10px rgb(0, 0, 0 , .2); 
}
.accordion-body {
    width: 550px;
}
.accordion-body .accordion{
    background-color: #fff;
    box-shadow: var(--shadow-1);
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
}
.accordion-body .accordion .accordion-titel{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
}
.accordion-body .accordion .accordion-titel h3{}
.accordion-body .accordion .accordion-titel i{
    transition: .5s;
}
.accordion-body .accordion .accordion-titel i.active{
    transform: rotate(180deg);
}
.accordion-body .accordion .accordion-answor {
    background-color: rgb(223, 217, 217);
    height: 0;
    transition: all .5s ease-in-out;
}

.accordion-body .accordion .accordion-answor p{
    padding: 10px 20px;
}